#square {
    position: absolute;
    width: 300px ;
    height: 132px ;
    background-color: green;
}
#moveCube{
    font-family: Century Gothic;
    color: black;
    text-decoration: none;
}
body{
    background-color: black;
    overflow: hidden;
}